
{# /**
 * TOP BANNER SECTION - included by page.html.twig
 * This section should display above the <header> element.
 */#}

{# { dump() } #}

      {# Display the Foundation top_bar if it exists #}
{#      {% if top_bar %}#}
{#        {{ top_bar }}#}
{#      {% endif %}#}

      {# Forsyth Site Header Twig Block #}
{#      {% block xy_siteheader %}#}
{#        {% set alt_header = FALSE %}#}

<div class="top-banner">
  <div class="top-banner-wrapper">

    {% if is_front %}
      <div class="top-banner-content">
        <div class="grid-container">
          <div class="grid-x grid-margin-x grid-margin-y">
          </div>
          <div class="grid-x grid-margin-x grid-margin-y">
          </div>
          <div class="grid-x grid-margin-x grid-margin-y">
          </div>
        </div>
      </div>
    {% else %}
      <div class="top-banner-content">
        <div class="grid-container">
          <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell small-12 medium-4 top-banner-interior-page">
            </div>
          </div>
        </div>
      </div>
    {% endif %}

{# Close out the top-banner and top-banner-wrapper divs#}
  </div>
</div>
